/* Created by: Yoochan
* Created on: May 2024
* This file contains the CSS for index.html
*/
body {
  background-color: white;
}

p {
  position: inherit;
  font-size: 2rem;
  color: black;
}

.text-box {
  position: relative;
  left: 30px;
}

.right-image {
  position: relative;
  float: right;
  right: 400px;
  top: 100px;
}